<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>
<h2>{{ data }}</h2>
<ul>
  <li>Click <a href="plotly">here</a> for sample Plotly graph!!</li>
</ul>

<table border="2">
  <tr
    *ngFor="
      let todo of (todos
        | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize)
    "
  >
    <td>{{ todo.id }}</td>
    <td>{{ todo.title }}</td>
  </tr>
</table>

<ngb-pagination
  [(page)]="page"
  [pageSize]="pageSize"
  [collectionSize]="todos.length"
></ngb-pagination>

<router-outlet></router-outlet>
